In [29]:
 import pandas as pd

In [30]:
data = pd.read_csv('Market_Basket_Optimisation.csv', header=None)

In [31]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
from apyori import apriori

In [33]:
data.fillna(method='ffill', axis = 1, inplace=True)

In [34]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs,eggs
2,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney,chutney
3,turkey,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado,avocado
4,mineral water,milk,energy bar,whole wheat rice,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea,green tea

In [35]:
dt = data.values.tolist() #Преобразование аналогичное тому, что в примере, но быстрее

In [36]:
result = list(apriori(dt, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2))

In [40]:
ls = []
for i in list(result):
    items1 = list(list(i)[0])
    items = ''
    for j in items1:
        items+=j
        items+=', '
    items = items[:-2]
    tmp = list(list(i[2])[0])
    items_base1 = list(list(tmp[0]))
    items_base = ''
    for j in items_base1:
        items_base+=j
        items_base+=', '
    items_base = items_base[:-2]
    items_add1 = list(tmp[1])
    items_add = ''
    for j in items_add1:
        items_add+=j
        items_add+=', '
    items_add = items_add[:-2]
    ls.append([items, items_base, items_add, round(tmp[2], 3), round(tmp[3],3), round(i[1], 5)])

In [41]:
final = pd.DataFrame(ls, columns=['items', 'items_base', 'items_add', 'confidence', 'lift', 'support'])

In [42]:
final

,items,items_base,items_add,confidence,lift,support
0,"chicken, light cream",light cream,chicken,0.291,4.844,0.00453
1,"mushroom cream sauce, escalope",mushroom cream sauce,escalope,0.301,3.791,0.00573
2,"pasta, escalope",pasta,escalope,0.373,4.701,0.00587
3,"fromage blanc, honey",fromage blanc,honey,0.245,5.164,0.00333
4,"herb & pepper, ground beef",herb & pepper,ground beef,0.323,3.292,0.01600
...,...,...,...,...,...,...
75,"olive oil, spaghetti, mineral water, ground beef","olive oil, ground beef","spaghetti, mineral water",0.217,3.633,0.00307
76,"spaghetti, pancakes, mineral water, ground beef","pancakes, ground beef","spaghetti, mineral water",0.211,3.533,0.00307
77,"tomatoes, spaghetti, mineral water, ground beef","tomatoes, ground beef","spaghetti, mineral water",0.261,4.376,0.00307
78,"olive oil, spaghetti, milk, mineral water","spaghetti, milk, mineral water",olive oil,0.212,3.217,0.00333
79,"tomatoes, spaghetti, milk, mineral water","tomatoes, milk","spaghetti, mineral water",0.238,3.987,0.00333